<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <appSettings>
    <add key="Screen_Resolution" value="1920x1080" />
    <add key="Delay" value="200" />

    <add key="J1" value="9,13,16,20;" />
    <add key="J2" value="0,2,4,6,7,8,10,17;" />
    <add key="J3" value="11,12,14;" />
    <add key="J4" value="3,5,15,18,21;" />
    
  </appSettings>
</configuration>